$utility-colors: (
  "white": var(--in-color-White),
  "black": var(--in-color-Black),
  "primary": var(--in-color-Primary),
  "primary-tint": var(--in-color-Primary-Tint),
  "primary-shade": var(--in-color-Primary-Shade),
  "primary-contrast": var(--in-color-Primary-Contrast),
  "primary-50": var(--in-color-Primary-50),
  "primary-100": var(--in-color-Primary-100),
  "primary-200": var(--in-color-Primary-200),
  "primary-300": var(--in-color-Primary-300),
  "primary-400": var(--in-color-Primary-400),
  "primary-500": var(--in-color-Primary-500),
  "primary-600": var(--in-color-Primary-600),
  "primary-700": var(--in-color-Primary-700),
  "primary-800": var(--in-color-Primary-800),
  "primary-900": var(--in-color-Primary-900),
  "primary-950": var(--in-color-Primary-950),
  "secondary": var(--in-color-Secondary),
  "secondary-tint": var(--in-color-Secondary-Tint),
  "secondary-shade": var(--in-color-Secondary-Shade),
  "secondary-contrast": var(--in-color-Secondary-Contrast),
  "secondary-50": var(--in-color-Secondary-50),
  "secondary-100": var(--in-color-Secondary-100),
  "secondary-200": var(--in-color-Secondary-200),
  "secondary-300": var(--in-color-Secondary-300),
  "secondary-400": var(--in-color-Secondary-400),
  "secondary-500": var(--in-color-Secondary-500),
  "secondary-600": var(--in-color-Secondary-600),
  "secondary-700": var(--in-color-Secondary-700),
  "secondary-800": var(--in-color-Secondary-800),
  "secondary-900": var(--in-color-Secondary-900),
  "secondary-950": var(--in-color-Secondary-950),
  "danger": var(--in-color-Danger),
  "danger-tint": var(--in-color-Danger-Tint),
  "danger-shade": var(--in-color-Danger-Shade),
  "danger-contrast": var(--in-color-Danger-Contrast),
  "danger-50": var(--in-color-Danger-50),
  "danger-100": var(--in-color-Danger-100),
  "danger-200": var(--in-color-Danger-200),
  "danger-500": var(--in-color-Danger-500),
  "danger-950": var(--in-color-Danger-950),
  "warning": var(--in-color-Warning),
  "warning-tint": var(--in-color-Warning-Tint),
  "warning-shade": var(--in-color-Warning-Shade),
  "warning-contrast": var(--in-color-Warning-Contrast),
  "warning-50": var(--in-color-Warning-50),
  "warning-100": var(--in-color-Warning-100),
  "warning-200": var(--in-color-Warning-200),
  "warning-500": var(--in-color-Warning-500),
  "warning-950": var(--in-color-Warning-950),
  "success": var(--in-color-Success),
  "success-tint": var(--in-color-Success-Tint),
  "success-shade": var(--in-color-Success-Shade),
  "success-contrast": var(--in-color-Success-Contrast),
  "success-50": var(--in-color-Success-50),
  "success-100": var(--in-color-Success-100),
  "success-200": var(--in-color-Success-200),
  "success-500": var(--in-color-Success-500),
  "success-950": var(--in-color-Success-950),
  "info": var(--in-color-Info),
  "info-tint": var(--in-color-Info-Tint),
  "info-shade": var(--in-color-Info-Shade),
  "info-contrast": var(--in-color-Info-Contrast),
  "info-50": var(--in-color-Info-50),
  "info-100": var(--in-color-Info-100),
  "info-200": var(--in-color-Info-200),
  "info-500": var(--in-color-Info-500),
  "info-950": var(--in-color-Info-950),
  "light": var(--in-color-Light),
  "light-50": var(--in-color-Light-50),
  "light-100": var(--in-color-Light-100),
  "light-200": var(--in-color-Light-200),
  "light-300": var(--in-color-Light-300),
  "light-400": var(--in-color-Light-400),
  "light-500": var(--in-color-Light-500),
  "light-600": var(--in-color-Light-600),
  "light-700": var(--in-color-Light-700),
  "light-800": var(--in-color-Light-800),
  "light-900": var(--in-color-Light-900),
  "light-950": var(--in-color-Light-950),
  "dark": var(--in-color-Dark),
  "dark-50": var(--in-color-Dark-50),
  "dark-100": var(--in-color-Dark-100),
  "dark-200": var(--in-color-Dark-200),
  "dark-300": var(--in-color-Dark-300),
  "dark-400": var(--in-color-Dark-400),
  "dark-500": var(--in-color-Dark-500),
  "dark-600": var(--in-color-Dark-600),
  "dark-700": var(--in-color-Dark-700),
  "dark-800": var(--in-color-Dark-800),
  "dark-900": var(--in-color-Dark-900),
  "dark-950": var(--in-color-Dark-950)
);

@each $name, $value in $utility-colors {
  .in-text-#{$name} {
    color: $value !important;
  }

  .in-bg-#{$name} {
    background-color: $value !important;
  }
}
