/* Container */
.in-container {
  max-width: var(--in-container-max-width);
  padding-left: var(--in-container-padding-mobile);
  padding-right: var(--in-container-padding-mobile);
  margin: 0 auto;
}
