:root {
	--in-section-padding-top-mobile: 0px;
	--in-section-padding-top-tablet: var(--in-section-padding-top-mobile);
	--in-section-padding-top-desktop: var(--in-section-padding-top-tablet);
	--in-section-padding-bottom-mobile: 0px;
	--in-section-padding-bottom-tablet: var(--in-section-padding-bottom-mobile);
	--in-section-padding-bottom-desktop: var(--in-section-padding-bottom-tablet);
}
