:root {
	--in-shadow-box: var(--shadow-1);
	--in-cards-columns-mobile: repeat(1, minmax(0, 1fr));
	--in-cards-columns-tablet: var(--in-cards-columns-mobile);
	--in-cards-columns-desktop: var(--in-cards-columns-tablet);
	--in-cards-gap-mobile: var(--space-4);
	--in-cards-gap-tablet: var(--space-5);
	--in-cards-gap-desktop: var(--space-6);
}
