/* Shadow tokens */
:root {
	--shadow-1: 0 3px 6px rgba(0, 0, 0, 0.04);
	--shadow-2: 0 5px 10px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 8px 16px rgba(0, 0, 0, 0.08);
	--shadow-4: 0 12px 24px rgba(0, 0, 0, 0.1);
	--shadow-5: 0 16px 32px rgba(0, 0, 0, 0.12);
}
