/* Spacing tokens */
:root {
	--in-space-1: 0.25rem;
	--in-space-2: 0.5rem;
	--in-space-3: 0.75rem;
	--in-space-4: 1rem;
	--in-space-5: 1.5rem;
	--in-space-6: 2rem;
	--in-space-7: 3rem;
	--in-space-8: 4rem;
}
